*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #222;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    background: #333;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.2);
}

input{
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #26ff00ff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover{
    background: #e0c294ff;
}

#message{
    margin-top: 15px;
    font-size: 18px;
    min-height: 30px;
}

#restartBtn{
    background: #4ae04fff;
}
