*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 218, 218);
}
.container{
    background-color: rgb(163, 161, 161);
    height: auto;
    width: 300px;
    border-radius: 20px;
}
#title{
    margin: 20px 0 20px 100px;
    color: red;
}
#inp{
    margin-left: 50px;
    padding: 3px 5px;
    border-radius: 5px;
}
#btn{
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: aqua;
}
#list{
    list-style: none;
    margin-left: 50px;
    margin-top: 20px;
}
.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 255);
    border: 1px solid rgb(20, 20, 20);
    border-radius: 5px;
    padding: 5px 10px;
    width: 90%;
    margin-top: 10px;
}
.del-btn{
    padding: 5px 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(248, 22, 10);
}
